extends ../layout

block content
  p
        | Your order for  <strong>#{order.selection.name}</strong> has been processed!
 

  //- p
  //-   | The <strong>#{order.selection.name}</strong> will be sent to <strong>RECEIPIENT</strong> with the following note:
  //- blockquote
  //-     | #{order.details.note}
  p
    | Thanks you for using ALGONOX TECHNOLOGIES.